*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    background-color: rgba(0, 0, 0, 0.1);
}

.addbutton {
    display: flex;
    justify-content: center;
}

.add {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
}

.add:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.main-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-auto-rows: 40%;
    padding: 2%;
    gap: 5%;
    overflow-y: auto;
    justify-content: center;
}

.book-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(5, 15%);
    padding: 2%;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
    justify-content: center;
}
